@charset "UTF-8";

body {
    
    padding-top: 80px; 
}

/* Navbar Background and Padding */
.navbar {
    background-color: #f8f9fa; 
    padding: 1rem 1.5rem; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
}

/* Adjusting Offcanvas for responsiveness */
@media (max-width: 767px) {
    body {
  
        padding-top: 100px; 
    }
}


/* Navigation Items Spacing */
.navbar-nav .nav-item {
    margin-right: 1.5rem;
}

.navbar-nav .nav-item:last-child {
    margin-right: 0; 
}

/* Adjust Navbar Brand (Logo) */
.navbar-brand img {
    margin-right: 1rem;
    height: 50px;
}

/* Offcanvas Styling for Nav Items */
.offcanvas-body .nav-item {
    margin-bottom: 1rem; 
    
}

.offcanvas-body .nav-item:last-child {
    margin-bottom: 0; 
}

/* Active Link Styling */
.nav-link active {
    font-weight: bold;
    color:  black; 
    
}

.nav-link:hover {
    color:  #da5ec5; 
}


.navbar-toggler {
    border: none;
}


.navbar .dropdown-menu {
    z-index: 1050;
    border-radius: 0.5rem; 
    padding: 0.5rem 0;
}

.navbar .dropdown-item {
    padding: 0.5rem 1rem;
    color:  black;
}

.navbar .dropdown-item:hover {
    background-color: #f8f9fa; 
    color:  #da5ec5;
}





/* Custom close button style */
.offcanvas-header .btn-close {
    background-color: transparent; 
    border: none; 
    color: black; 
    font-size: 1.25rem; 
    line-height: 1.25rem; 
    opacity: 1; 
    transition: color 0.3s ease, transform 0.3s ease; 
}


.offcanvas-header .btn-close:hover {
    color: black;
    transform: scale(1.1); 
}


.offcanvas-header .btn-close:focus {
    outline:auto; 
    box-shadow: none; 
}

/* For smaller screens, increase the size of the button */
@media (max-width: 767px) {
    .offcanvas-header .btn-close {
        font-size: 1.5rem; 
    }
}




.bg-pink {
    background-color: black !important;
    color: white !important; 
}

/*Adjust font size and padding for the badge */
#cart-count {
    font-size: 0.9rem;
    padding: 4px 8px;
    border-radius: 50%;
    margin-left: 5px;
}

