/* General body styling */
body {
    font-family: Arial, sans-serif;
    background: #3f273f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


/* Update Profile form container */
form {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

/* Form heading */
h1 {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

/* Label styling */
span {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

/* Input field styling */
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

/* Focus effect on input fields */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Submit button styling */
input[type="submit"] {
    background-color: #f7aceb;
    color: black;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effect for submit button */
input[type="submit"]:hover {
    background-color: #da5ec5;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Add space between submit button and the form fields */
form input[type="submit"] {
    margin-top: 20px;
}

/* Responsive design for small screens */
@media screen and (max-width: 480px) {
    form {
        padding: 20px;
    }

    h1 {
        font-size: 20px;
    }

    input[type="submit"] {
        font-size: 14px;
    }
}
